@import "variables";

body {
  margin: 0;
  padding: 0;
  font-size: 14px/18px;
  background-color: #fff;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  text-align: center;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.municipio-map-wrapper {
  height: 0;
  overflow: hidden;
  width: 100%;
  padding-top: 60%;
  position: relative;
  background-color: #73BEEB;
}

.map {
  width: 100%;
  path {
    transition: fill 0.4s ease-in-out;
    fill: #e1e1e1;
  }
  .map-label {
    fill: #444444;
    paint-order: stroke;
    stroke: rgba(255, 255, 255, 0.7);
    stroke-width: 2px;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    font-size: 0.7rem;
    text-transform: uppercase;
  }
}

.municipio-map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.controls {
  font-size: 1rem;
}

.chart-wrapper {
  margin: 0 auto;
  max-width: 300px;

  .recharts-text {
    font-size: 0.8rem;
  }

  .recharts-xAxis {
    .recharts-cartesian-axis-line {
      stroke: none;
    }
  }
}
