.embed-preview {
  font-family: Arial, sans-serif;
  font-size: .76rem;
  color: #000;

  .rc-slider {
    width: 78%;
    margin: 0 0 3rem 1rem;
  }

  .rc-slider-mark-text {
    height: auto;
  }

  a { font-weight: bold; }

  h1, h2 {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    font-weight: bold;
  }

  h2 {
    font-size: .9rem;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
  }

  textarea {
    font-family: "Courier New", Courier, monospace;
    font-size: 12px;
    line-height: 1.4;
    height: 4.3rem;
    width: calc(100% - 3rem);
    padding: 0.25rem;
    border: 1px solid #999;
  }

  li {
    list-style: none;
  }
  ul {
    padding: 0;
    margin: 0;
  }

  .content-preview {
    font: sans-serif;
    h1 {
      font-size: 1.4rem;
      font-weight: bold;
      margin-bottom: 1rem;
      line-height: 1.2;
      text-transform: uppercase;
    }

    p {
      font-size: .8rem;
      margin-bottom: 1rem;
    }

    .hooha {
      opacity: 0.5;
      filter: blur(2.5px);
      max-width: 40rem;
    }
  }

  .embed-preview-meta {
    background-color: #e9e9e9;
    padding: 1vw;
    p {
      margin-bottom: 0.8rem;
    }
  }
  .embed-preview-pane {
    padding: 0 3vw;
    overflow: scroll;
    background-color: #fff;
  }
}


@media screen and (min-width: 768px) {
  .embed-preview-meta {
    position: absolute;
    left: 0;
    top: 0;
    width: 20vw;
    height: 100vh;
    overflow: scroll;
  }

  .embed-preview-pane {
    position: absolute;
    left: 20vw;
    top: 0;
    width: 80vw;
    height: 97vh;
    padding: 0 1.5vw;
    margin-top: 0;
  }
}
